@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 700;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}


.header-container{
    background-color: #434bdf;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container img{
    width: 250px;
}

.header-container h1{
    margin-top: 20px;
    font-weight: normal;
    color: #fff;
    font-size: 28px;
}

.body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-counter{
    color: #999;
    margin-top: 40px;
}

.first-name-input{
    margin: 20px 0 20px 0;
}

.radio-input{
    margin-bottom: 20px;
}

.check-input{
    margin-bottom: 30px;
}

.btn{
    text-align: end;
}