@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 700;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.base-input {
    display: block;
    border-radius: 3px;
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;
    height: 40px;
    width: 100%;
    border: 1px solid #d2d8dd;
    padding-left: 10px;
  }
   
  .base-input::placeholder {
     display: block;
    color: #9E9E9E;
  }


.header-container{
    background-color: #434bdf;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container img{
    width: 250px;
}

.header-container h1{
    margin-top: 20px;
    font-weight: normal;
    color: #fff;
    font-size: 28px;
}

.body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-counter{
    color: #999;
    margin: 40px 0 10px 0;
}

.first-name-input{
    margin: 20px 0 20px 0;
}

.radio-input{
    margin-bottom: 20px;
}

.check-input{
    margin-bottom: 30px;
}

.check-input a{
    color: #434bdf;
}

.btn{
    text-align: end;
}
.btn-control{
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    transition: all .5s ease;
    cursor: pointer;
}

.btn-control:hover{
    background-color: #dc3545;
}


.radio-input input,
.check-input input{
    display: none;
}

.radio-input label{
    cursor: pointer;
    margin-right: 15px;
    display: inline-block;
}

.radio-input input + label::before{
    content: "";
    border: 1px solid #ccc;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 3px;
    width: 15px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rbga(0,0,0,0.2);
    color: #fff;
    background: #fff;
    text-align: center;

}

.radio-input input:checked + label::before{
    content: "";
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    color: none;
    border: 5px solid #0d6efd;

}

.check-input label {
    cursor: pointer;
}

.check-input input + label::before{
    content: "";
    border: 1px solid #ccc;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 3px;
    width: 15px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rbga(0,0,0,0.2);
    color: #fff;
    background: #fff;
    text-align: center;

}

.check-input input:checked + label::before{
    content: "";
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    color: none;
    border: 5px solid #0d6efd;

}